.MainWeather {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  text-align: center;
}

.mainTemp {
  font-size: 50px;
}

.units {
  position: relative;
  top: -25px;
}

.fa-thermometer-empty {
  color: skyblue;
}

.fa-thermometer-full {
  color: red;
}
h1 {
  text-align: center;
  font-family: "Berkshire Swash", cursive;
  font-size: 50px;
  color: #e30b5d;
  padding-top: 15px;
}

.date,
.factors {
  text-align: center;
}

.factors {
  padding-top: 10px;
}
