input {
  border: 1px solid #e3587b;
}

input:focus {
  border-color: #e3587b;
  box-shadow: 0 0 0 0.2rem #e30b5d;
}

button {
  color: white;
  background-color: #e3587b;
  border-color: #e30b5d;
}

button:hover {
  color: #e30b5d;
  background-color: white;
  border-color: #e3587b;
}
