.WeatherApp {
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
  max-width: 600px;
  margin: 30px auto 10px;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  border: 2px solid #e3587b;
  border-radius: 6px;
}

.city-search {
  border: 1px solid #e3587b;
}

.city-search:focus {
  border-color: #e3587b;
  box-shadow: 0 0 0 0.2rem #e30b5d;
}

.search-button,
.findMe-button {
  color: white;
  background-color: #e3587b;
  border-color: #e30b5d;
}

.WeatherApp .search-button:hover {
  color: #e30b5d;
  background-color: white;
  border-color: #e3587b;
}

.WeatherApp .findMe-button:hover {
  color: #e30b5d;
  background-color: white;
  border-color: #e3587b;
}

.WeatherApp .findMe-button:active {
  color: #e30b5d;
  background-color: white;
  border-color: #e3587b;
}

.btn:focus {
  color: #e30b5d;
  background-color: white;
  border-color: #e3587b;
}
